@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #D9FFE2;
}

.panel {
  background-color: #F1FDF4;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
